@{
    ViewData["Title"] = "Home Page";
    var ht = ViewBag.HT as string; 
}

<div class="text-center">
    <h1 class="display-4">Welcome @ht</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
