@model IEnumerable<Category>
@if (Model != null && Model.Any())
{

    @foreach (var item in Model)
    {

        <ul>
            <li><a href="/HienThiProduct/_Category/@item.id">@item.Name</a></li>
            @*<li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>*@
        </ul>
                


    }
}