@model IEnumerable<Product>
@if (Model != null && Model.Any())
{

    @foreach (var item in Model)
                        {
                        
    <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="@item.Inmage" >
                <h5><a href="#">@item.Name</a></h5>
            </div>
        </div>
    </div>
                        }
   @* <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg" style="background-image: url(&quot;img/categories/cat-4.jpg&quot;);">
                <h5><a href="#">drink fruits</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg" style="background-image: url(&quot;img/categories/cat-5.jpg&quot;);">
                <h5><a href="#">drink fruits</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg" style="background-image: url(&quot;img/categories/cat-1.jpg&quot;);">
                <h5><a href="#">Fresh Fruit</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg" style="background-image: url(&quot;img/categories/cat-2.jpg&quot;);">
                <h5><a href="#">Dried Fruit</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item active" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg" style="background-image: url(&quot;img/categories/cat-3.jpg&quot;);">
                <h5><a href="#">Vegetables</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item active" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg" style="background-image: url(&quot;img/categories/cat-4.jpg&quot;);">
                <h5><a href="#">drink fruits</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item active" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg" style="background-image: url(&quot;img/categories/cat-5.jpg&quot;);">
                <h5><a href="#">drink fruits</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg" style="background-image: url(&quot;img/categories/cat-1.jpg&quot;);">
                <h5><a href="#">Fresh Fruit</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg" style="background-image: url(&quot;img/categories/cat-2.jpg&quot;);">
                <h5><a href="#">Dried Fruit</a></h5>
            </div>
        </div>
    </div>
    <div class="owl-item cloned" style="width: 240px;">
        <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg" style="background-image: url(&quot;img/categories/cat-3.jpg&quot;);">
                <h5><a href="#">Vegetables</a></h5>
            </div>
        </div>
    </div>
  *@

       
                

		
	
}
