
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    <style>
        .img-full-width {
            max-width: 100%;
            height: auto;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>List Product</h1>
            </div>
@*            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>
            </div>*@
        </div>
    </div>
</section>
<div class="khoi-create">
    <button type="button" id="btn-tao-moi" class="btn btn-success">Tao Moi!</button>
</div>

<table id="datatable" class="table table-bordered display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Inmage</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Quantity</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody></tbody>


</table>

<div id="container-create-or-update"></div>

@*@section scripts{
    <script src="~/js/product.js"></script>
    }*@

